<!DOCTYPE html>
<html>

<body>

    <form action="/" method="post">
        <div>
            <label for="sep_len">Sepal Length :</label>
            <input type="number" step="0.01" id="sep_len" name="sep_len">
        </div>
        <div>
            <label for="sep_width">Sepal Width :</label>
            <input type="number" step="0.01" id="sep_width" name="sep_width">
        </div>
        <div>
            <label for="pet_len">Petal Length :</label>
            <input type="number" step="0.01" id="pet_len" name="pet_len"></input>
        </div>
        <div>
            <label for="pet_width">Petal Width :</label>
            <input type="number" step="0.01" id="pet_width" name="pet_width"></input>
        </div>
        <div class="button">
            <button type="submit">Envoyer le message</button>
        </div>
    </form>

</body>

</html>